.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin: 4px;
    background: #ededed;
    color: #0a0a0a;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}