.menuBackground {
  max-width: 90vw;
  max-height: 90vh;
  overflow: auto;
  background-color: pink;
  box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
  padding: 10px; /* Optional: Add some padding if needed */
}

.menuRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
